In [1]:
#Introduction to tuple datatype:

In [2]:
#definition: An immutable list is called as tuple data type. 
#classification: It is classified as an immutable datatype.
#how do you define the tuple data type --> ()

In [3]:
students = ('nikhil','praveen','raheem','imran','keerthi','farida')

In [4]:
print(students)

('nikhil', 'praveen', 'raheem', 'imran', 'keerthi', 'farida')

In [5]:
type(students)

tuple

In [6]:
#req: i want to change nikhil name ===> naveed

In [7]:
students[0]='naveed'

TypeError: 'tuple' object does not support item assignment

In [13]:
dimensions =(200,50)
print(dimensions)

(200, 50)

In [10]:
#req: I want to change the dimension from 200,250..?

In [12]:
dimensions =(250,50)
print(dimensions)

(250, 50)

In [14]:
#land ---> house ==> Blueprint -->hall,bedrooms,kitchen ==> fixed data ==> 

#  6 months later ==> we cannot change dimensions ==> tuple

In [15]:
print(students)

('nikhil', 'praveen', 'raheem', 'imran', 'keerthi', 'farida')

In [16]:
#req: I want to get praveen name in the output..?

In [17]:
print(students[1])

praveen

In [18]:
# i want to implement a for loop on tuple..?

In [19]:
for x in students:
    print(x)

nikhil
praveen
raheem
imran
keerthi
farida