In [1]:
# introduction to list datatype:

In [41]:
#definition: A list is a collection of items declared in a particular order.
#classification: It is classified as a mutable datatype. (flexible ---(edit and alter))
#how to define/declare a list....? ===> []

In [3]:
students =['naveen','abdul','imran','joseph','keerthi','shaheen','dolly','navya'] #0,1,2,3,4,5,6,7

In [4]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya']

In [5]:
type(students)

list

In [6]:
# how to access the above elements in the list..?

In [7]:
#req: i want to access abdul name from the above list,how to do that..?

In [8]:
# introduction to indexing: 0,1,2,3,4....

In [9]:
print(students[1])

abdul

In [10]:
#req: i want to access keerthi name from the above list...?

In [11]:
print(students[4])

keerthi

In [12]:
# how to add new elements to the list.
#how to modify the elements in the list.
#how to delete the elements from the above list.

In [13]:
# req : i want to add 'kumar' to the above list.

In [14]:
students.append('kumar')

In [17]:
students

['naveen',
 'abdul',
 'imran',
 'joseph',
 'keerthi',
 'shaheen',
 'dolly',
 'navya',
 'kumar']

In [18]:
# req: i want to add sana name to the above list..?

In [19]:
students.append('sana')

In [20]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [21]:
# req : i want to add yamini to the above list in the 2nd position

In [23]:
students.insert(2,'yamini')

In [24]:
print(students)

['naveen', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [25]:
print(students[2])

yamini

In [26]:
# interview questions: what is the diff btw append and insert method in the list..?
# append method adds elements at the end of the list. insert method adds element at a specific position.

In [27]:
# req: i want to modify naveen name to navya..?

In [28]:
print(students[0])

naveen

In [29]:
students[0]= 'navya'

In [31]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [32]:
# req : i want to delete 'joseph' from the above list..?

In [33]:
del students[4] # del to permanently delete element

In [34]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [36]:
# temp deletion ---> pop --> it is used to delete the things temp ===> it will be carbon copy of the  deleted elements and store in a variable assigned to it.
# pop --> by default will be deleting the last element in the list.

In [37]:
x = students.pop()

In [38]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar']

In [39]:
print(x)

sana

In [40]:
## interview question : what is the difference between delete and pop method in a list..?
# del will delete specific element in the list. pop will remove the last element from the list.